<div class="col-md-10 col-md-offset-1">
  <div class="well">

    <h2>設定</h2>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(current_user, :url => account_settings_path, :html => {:class => "form-horizontal", :method => :post}) do |f| %>

          <%= f.input :name, :label => "匿稱" %>

          <div class="form-group">
            <label class="" for="user_name">修改密碼</label>
            <div><%= link_to("修改", edit_password_account_settings_path, :class => "btn btn-default") %></div>
          </div>

          <%= f.submit "修改資料", :class => "btn pull-right btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>