<div class="shop-list-item">
  <a href="<%= shops_path %>/{{slug}}" class="pull-right" target="_blank"><%= fa_icon("external-link") %></a>

  <%= fa_icon("coffee") %>
  <span class="title"> {{title}}</span>

</div>