<div class="map-container">
  <div class="map-sidebar">
    <button type="button" class="close">&times;</button>
    <div class="shop-detail"></div>

  </div>
  <div class="map-search-bar">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= fa_icon("search", :class => "search-icon") %></span>
      <input type="text" class="form-control input-lg map-search-input" id="map-search-input" >
    </div>
    <button type="button" class="btn btn-lg btn-default geolocation-btn">
      偵測位置 <%= fa_icon("location-arrow") %>
    </button>    
  </div>



  <div class="map-switches">
    <dl class="dl-horizontal">
      <dt>免費 Wi-Fi</dt>
      <dd>
        <div id="free-wifi-switch" class="make-switch switch-small" data-on="warning" data-animated="false" data-on-label="<i class='fa fa-check'></i>" data-on-label="<i class='fa fa-times'></i>">
          <input type="checkbox">
        </div>
      </dd>
      <dt>插座</dt>
      <dd>
        <div id="free-power-outlets" class="make-switch switch-small" data-on="warning" data-animated="false" data-on-label="<i class='fa fa-check'></i>" data-on-label="<i class='fa fa-times'></i>">
          <input type="checkbox">
        </div>
      </dd>
    </dl>
  </div>

  <div class="map shop-map"></div>
</div>


<script id="shop-detail-template" type="text/x-handlebars-template">
  <%= render :partial => "shop_detail_template" %>
</script>