<div class="map-sidebar">
  <button type="button" class="close">&times;</button>
  <div class="shop-detail"></div>

</div>
<div class="map shop-map"></div>


<script id="shop-detail-template" type="text/x-handlebars-template">
  <h3>{{name}}</h3>
  <div class="address">{{address}}</div>
</script>