<div class="map-container">
  <div class="map-sidebar">
    <button type="button" class="close">&times;</button>
    <div class="shop-detail"></div>

  </div>
  <div class="map-search-bar">
    <input type="text" class="input-xlarge map-search-input" name="map-search-input" >

  </div>
  <div class="map shop-map"></div>
</div>


<script id="shop-detail-template" type="text/x-handlebars-template">
  <%= render :partial => "shop_detail_template" %>
</script>