<div class="row-fluid landing-search-bar">
</div>


<div class="row-fluid langding-map-container">
  <div class="offset1 span5">
    <div class="landing-map"></div>
  </div>
  <div class="span5">
  </div>
</div>
