//= require common
//= require font-awesome
//= require bootstrap-switch

//= require landing
//= require shops
//= require maps
//= require_self

body {
  background: image-url('background.png');
}

.navbar {
  h1 {
    display: none;
  }

  .brand {
    font-size: 26px;
  }

}


.map {
  img {
    max-width: none;
  }

}