//= require_self
//= require common
//= require font-awesome
//= require bootstrap-switch

//= require landing
//= require shops
//= require maps


body {
  background: image-url('background.png');
}

.navbar {
  h1 {
    display: none;
  }

}


.map {
  img {
    max-width: none;
  }

}