@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";


.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}

.navbar-nav .social > .fb-like {
  padding-top: 15px;
  margin-right: 30px;
}