@import "compass/css3/text-shadow";
@import "compass/css3/background-size";


.header-image {
  position: absolute;
  top:0;
  left:0;
  bottom:0; 
  right:0; 

  text-align: center;
  background-color: #cccccc;
  margin-bottom: 0px;
  color: #dd920d; 


  background: image-url('landing-image.jpg') no-repeat center 90.5%;
  @include background-size(cover);

  .headline {
    margin-top: 280px;
  }

  h1 {
    font-family: 'Playball', cursive;
    font-size: 100px;
    font-style: italic;
    margin-bottom: 60px;
    color: #BD0029;
    @include single-text-shadow(#000, 2px, 2px, 1px, false);
  }

  h2 {
    font-weight: normal;
    color: #D4560B;
    font-size: 22px;
    @include single-text-shadow(#000, 1px, 1px, 0px, false);
  }

}
