@import "compass/css3/text-shadow";
@import "compass/css3/background-size";

.header-image {
  width: 100%;
  text-align: center;
  background-color: #cccccc;
  margin-bottom: 0px;
  color: #dd920d;



  background: image-url('landing-image.jpg') no-repeat center 80.5%;
  @include background-size(cover);

  .headline {
    padding: 80px 0 40px 0;
  }

  h1 {
    font-family: 'Playball', cursive;
    font-size: 100px;
    font-style: italic;
    margin-bottom: 70px;
    @include single-text-shadow(#ffffff, 2px, 2px, 1px, false);
  }

  h2 {
    font-size: 26px;
  }

}
