// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-sidebar {
  position: absolute;
  z-index: 2;
  top: 40px;
  bottom: 0px;
  left: -320px;
  width: 300px;
  background-color: #ccc;
  padding: 0px;

  &.active {
    left: 0px;
  }

  .close {
    margin: 5px;
  }

  .shop-detail {
    padding: 10px;
  }

}



.shop-map {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
}

