// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/transition";
@import "compass/css3/border-radius";

$sideBarColor: #d1c1cc;
$sideBarWidth: 300px;
$searchBarWidth: 300px;


.map-container.active {

  .map-sidebar {
    left: 0px
  }

  .shop-map {
    left: $sideBarWidth;
  }

}

.map-sidebar {
  position: absolute;
  z-index: 2;
  top: 50px;
  bottom: 0px;
  left: -$sideBarWidth;
  width: $sideBarWidth;
  background-color: $sideBarColor;
  padding: 0px;

  @include transition(left 0.3s);

  .close {
    margin: 5px;
  }
}


.shop-detail {
  min-width: 300px;
  padding: 10px;
  font-size: 14px;

  h3 {
    text-align: center;
  }

  .address {
    margin-bottom: 10px;
  }


  .dl-horizontal {
    dt {
      font-size: 16px;
      width: auto;
      margin-bottom: 10px;
    }
    dd {
      margin-left: 130px;
      margin-bottom: 10px;
    }
  } 

}

.map-search-bar {
  z-index: 3;
  position: absolute;
  left: 50%;
  width: $searchBarWidth;
  margin-left: -$searchBarWidth/2;
  margin-top: 25px;

  .search-icon {
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 20px;
  }

  .map-search-input {
    padding-left: 35px;
  }
}



.map-switches {
  z-index: 3;
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding: 10px 10px 0 10px;
  background-color: transparentize(#ffffff, 0.2);
  @include border-radius(5px);

  .dl-horizontal {
    margin-bottom: 0px;

    dt {
      font-size: 16px;
      width: auto;
      margin-bottom: 10px;
    }
    dd {
      margin-left: 130px;
      margin-bottom: 10px;
    }
  } 
}


.shop-map {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 0px;

  @include transition(left 0.3s);
}

