// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-shop-page {
  padding-top: 30px;

  .map-preview {
    margin-top: 30px;
    width: 100%;
    height: 400px;

  }

  .shop-location-form {
    margin-bottom: 20px;
    text-align: center;
  }


  .info-window {
    width: 500px;
    text-align: center;

    .address-name {
      font-size: 18px;
    }

    .btn-submit {
      margin-top: 10px;
    }

  }

}

.new-shop-step2-page {
  padding-top: 30px;
}
